@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 40px;
}



/* header section here  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    margin: 0;

    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    /* background: red; */

    position: fixed;
    top: 0;
}

.toggle-btn, .toggle-nav{
    display: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-nav-item >a{
    text-decoration: none;
    color: rgba(149, 151, 165, 1);
    font-size: 14px;
    margin: 0 15px;
    /* background: red; */
}

.header-nav-item >a:hover{
    color: rgba(45, 49, 77, 1);
   
}

.header-nav-item{
    /* width: 80px; */
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}




.invite-btn >a{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

    text-decoration: none;
}


.invite-btn{
    width: 163px;
    height: 44px;
    border-radius: 22px;
    background: url(../img/invite.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.invite-btn:active, .invite-btn:hover{
   background: url(../img/invite-hover.png) no-repeat;
   background-size: cover;
   opacity: 0.8;
}

@media only screen and (min-width: 320px) and (max-width: 425px) {
    .header{
        width: 100%;
        height: 64px;
        /* background: red; */
        padding: 0 24px;
    }

    .header-nav, .header-invite{
        display: none;
    }

    .toggle-btn:hover{
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/toggler-close.png) no-repeat;
        background-size: cover;
    }

    .toggle-btn{
        display: block;
        width: 24px;
        height: 12px;
        background: url(../img/toggler-open.png) no-repeat;
        background-size: cover;
    }

    .toggle-nav{
        transform: translate(-120%);
    }

    .toggle-btn:hover ~ .toggle-nav{
        transform: translate(0,0);
    }

    

    .toggle-nav{
        width: 90%;
        height: 265px;
        /* border: 1px solid red; */
        border-radius: 5px;
        display: block;
        position: absolute;
        top: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background: rgba(255, 255, 255, 1);
    }

    .toggle-nav >li{
        margin: 12px 0;
    }

    .toggle-nav >li >a{
        text-decoration: none;
        font-size: 18px;
        color: rgba(45, 49, 77, 1);
    }
}


/* main hero section here  */

.hero{
    width: 100%;
    height: 656px;
    background:  #F2F2F2;

    margin-top: 80px;

    display: flex;
    justify-content: space-between;
}

.hero-left{
    width: 50%;
    padding: 150px 0;
    padding-left: 125px;
}

.hero-left >h3{
    font-size: 56px;
    line-height: 64px;
    font-weight: 100;
    color: rgba(45, 49, 77, 1);
}

.hero-left >p{
    font-size: 18px;
    line-height: 28px;
    color: rgba(149, 151, 165, 1);
    margin: 19px 0;
    margin-bottom: 40px;
    width: 110%;
}

.hero-right{
    width: 75%;
    height: inherit;
    background: url(../img/hero-bg-desktop.png) no-repeat;
    background-size: cover;
    margin-top: -80px;

}


.hero-right >picture >img{
    margin-top: 5px;
    margin-left: 160px;
}


@media only screen and (min-width: 320px) and (max-width: 425px) {
    .hero{
        width: 100%;
        height: 706px;
        background:  #F2F2F2;
    
        margin: 0;
        margin-top: 80px;
        padding-bottom: 96px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .hero-left{
        width: 100%;
        padding: 0 20px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
       
    }
    
    .hero-left >h3{
        font-size: 40px;
        line-height: 44px;
    }
    
    .hero-left >p{
        font-size: 15px;
        line-height: 25px;

        width: 100%;
    }
    
    .hero-right{
        width: 100%;
        height: inherit;
        background: url(../img/hero-bg-mobile.png) no-repeat;
        background-size: cover;
        margin-top: -80px;
    
    }
    
    
    .hero-right >picture >img{
       margin: 0 10px;
    }
}



/* easy bank section here  */

.easy-bank{
    width: 100%;
    height: 615px;
    background: rgba(244, 245, 247, 1);

    padding: 95px 125px;
}

.easy-bank >h3{
    font-size: 40px;
    font-weight: 100;
    line-height: 64px;
    color: rgba(45, 49, 77, 1);
}

.easy-bank >p{
    font-size: 18px;
    line-height: 28px;
    color: rgba(149, 151, 165, 1);
    width: 60%;
}

.easy-bank-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.easy-bank-card{
    width: 25%;

}

:first-child.easy-bank-card::before{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/banking.png) no-repeat;
    background-size: cover;
}

:nth-child(2).easy-bank-card::before{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/budgeting.png) no-repeat;
    background-size: cover;
}

:nth-child(3).easy-bank-card::before{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/onboarding.png) no-repeat;
    background-size: cover;
}

:last-child.easy-bank-card::before{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../img/banking.png) no-repeat;
    background-size: cover;
}

.easy-bank-card >h4{
    font-size: 24px;
    font-weight: 100;
    color: rgba(45, 49, 77, 1);

    margin: 25px 0;
}

.easy-bank-card >p{
    font-size: 16px;
    line-height: 24px;
    color: rgba(149, 151, 165, 1);

    width: 90%;
}



@media only screen and (min-width: 320px) and (max-width: 425px) {
    .easy-bank{
        width: 100%;
        height: 1305px;
    
        padding: 64px 25px;
        text-align: center;
    }
    
    .easy-bank >h3{
        font-size: 32px;
        line-height: 38px;
        /* width: 90%; */
        padding: 0 20%;
    }
    
    .easy-bank >p{
        font-size: 15px;
        line-height: 25px;
        width: 100%;
    }
    
    .easy-bank-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 1px;
    }
    
    .easy-bank-card{
        width: 100%;
        /* padding: 0 25px; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;

        margin-top: 32px;
    }
    
    :first-child.easy-bank-card::before{
        width: 72px;
        height: 72px;
    }
    
    :nth-child(2).easy-bank-card::before{
        width: 72px;
        height: 72px;
    }
    
    :nth-child(3).easy-bank-card::before{
        width: 72px;
        height: 72px;
        
    }
    
    :last-child.easy-bank-card::before{
        width: 72px;
        height: 72px;
       
    }
    
    .easy-bank-card >h4{
        font-size: 20px;
        line-height: 28px;
        font-weight: 100;  
        margin: 20px 0;
    }
    
    .easy-bank-card >p{
        font-size: 15px;
        line-height: 25px;
    }
}