@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 40px;
}



/* header section here  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    margin: 0;

    width: 100%;
    height: 80px;
    background: rgba(255, 255, 255, 1);
    /* background: red; */

    position: fixed;
    top: 0;
}

.toggle-btn, .toggle-nav{
    display: none;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-nav-item >a{
    text-decoration: none;
    color: rgba(149, 151, 165, 1);
    font-size: 14px;
    margin: 0 15px;
    /* background: red; */
}

.header-nav-item >a:hover{
    color: rgba(45, 49, 77, 1);
   
}

.header-nav-item{
    /* width: 80px; */
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}




.invite-btn >a{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

    text-decoration: none;
}


.invite-btn{
    width: 163px;
    height: 44px;
    border-radius: 22px;
    background: url(../img/invite.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.invite-btn:active, .invite-btn:hover{
   background: url(../img/invite-hover.png) no-repeat;
   background-size: cover;
   opacity: 0.8;
}



@media only screen and (min-width: 320px) and (max-width: 425px) {
    .header{
        margin: auto;
        padding: 24px;
        width: 100%;
        height: 64px;
        /* min-width: 300px; */
        /* background: red; */

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav, .header-invite{
        display: none;
    }

    .toggle-btn{
        display: block;
        width: 24px;
        height: 11px;
        background: url(../img/toggler-open.png) no-repeat;
    }

    .toggle-btn:active{
        display: block;
        width: 25px;
        height: 25px;
        background: url(../img/toggler-close.png) no-repeat;
        background-size: cover;
    }

    .toggle-nav{
        /* border: 1px solid red; */
        border-radius: 5px;
        background: rgba(255, 255, 255, 1);
        width: 88%;
        height: 265px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        top: 100px;
    }

    .toggle-nav >li{
        margin: 12px 0;
    }

    .toggle-nav >li >a{
        text-decoration: none;
        font-size: 18px;
        color: rgba(45, 49, 77, 1);
    }

    .toggle-nav{
        transform: translate(-120%);
    }

    .toggle-btn:active ~ .toggle-nav{
        transform: translate(0, 0);
        transition: ease 1s;
    }

}

/* main hero section here  */

.hero{
    width: 100%;
    height: 656px;
    background:  #F2F2F2;

    margin-top: 80px;

    display: flex;
    justify-content: space-between;
}

.hero-left{
    width: 50%;
    padding: 150px 0;
    padding-left: 125px;
}

.hero-left >h3{
    font-size: 56px;
    line-height: 64px;
    font-weight: 100;
    color: rgba(45, 49, 77, 1);
}

.hero-left >p{
    font-size: 18px;
    line-height: 28px;
    color: rgba(149, 151, 165, 1);
    margin: 19px 0;
    margin-bottom: 40px;
    width: 110%;
}

.hero-right{
    width: 75%;
    height: inherit;
    background: url(../img/hero-bg-desktop.png) no-repeat;
    background-size: cover;
    margin-top: -80px;

}


.hero-right >picture >img{
    margin-top: 5px;
    margin-left: 160px;
}



@media only screen and (min-width: 320px) and (max-width: 425px) {
    .hero{
        margin: auto;
        width: 100%;

        margin: 80px 0;
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .hero-left{
        width: 100%;
        padding: 30px 20px;
        text-align: center;
    }
    
    .hero-left >h3{
        font-size: 40px;
        line-height: 44px;
    }
    
    .hero-left >p{
        font-size: 15px;
        line-height: 25px;
        width: 100%;
    }

    .hero-left-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 27%;
        /* text-align: center; */
    }
    
    .hero-right{
        width: 100%;
        height: 400px;
        background: url(../img/hero-bg-mobile.png) no-repeat;
        background-size: cover;
        margin-top: -100px;
    
    }
    
    
    .hero-right >picture >img{
        margin: 20px;
    }
    
}