@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

ol, ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.container{
    padding: 0 40px;
}



/* header section here  */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 130px;
    margin: 0;

    width: 100%;
    height: 80px;
    /* background: rgba(255, 255, 255, 1); */
    background: red;

    position: fixed;
    top: 0;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-nav-item >a{
    text-decoration: none;
    color: rgba(149, 151, 165, 1);
    font-size: 14px;
    margin: 0 15px;
    background: red;
}

.header-nav-item{
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hover-border{
    width: inherit;
    height: 4px;
    display: block;
    background: url(../img/nav-border.png) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: -40px;
}

.header-invite >a{
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);

    text-decoration: none;
}

.invite-btn{
    width: 163px;
    height: 44px;
    border-radius: 22px;
    background: url(../img/invite.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.invite-btn:active, .invite-btn:hover{
   background: url(../img/invite-hover.png) no-repeat;
   background-size: cover;
   opacity: 0.7;
}